---
layout: default_en
permalink: /en/macros/updates/
---

<h1>Updates</h1>
<div class="updates-list">
    {% assign updates_count = (site.updates | size) %}
    {% if updates_count != 0 %}
        {% for update in site.updates reversed %}
            <div class="update">
                <div class="update__date">{{ update.date | date: "%b %-d, %Y" }}</div>
                <h3 class="update__title">{{ update.title }}</h3>
                <div class="update__content">{{ update.output }}</div>
            </div>
        {% endfor %}
    {% endif %}
</div>
