<footer class="footer">
    <div class="footer__top">
        <div class="wrapper  footer__top-wrapper">
            <a class="footer-logo" href="{{ site.baseurl }}/en/">
                {{ site.title }}
            </a>
            <a class="corel-russia" href="http://corel.ru">
                We are friends <span>COREL</span> RUSSIA
            </a>
        </div>
    </div>
    <div class="footer-content">
        <div class="wrapper">
            <div class="footer__copy">
                &copy; 2007–2024 {{ site.title }} <br>
                <a href="https://{{ site.github_page_url }}">{{ site.github_page_url }}</a>
            </div>
            <div class="footer__social">
                <a href="https://github.com/{{ site.github_username }}" class="social">
                    {% include github.svg %}
                </a>
            </div>
        </div>
    </div>
</footer>
