<footer class="footer">
    <div class="footer__top">
        <div class="wrapper  footer__top-wrapper">
            <a class="footer-logo" href="{{ site.baseurl }}/">
                {{ site.title }}
            </a>
            <a class="corel-russia" href="http://corel.ru">
                Мы друзья <span>COREL</span> RUSSIA
            </a>
        </div>
    </div>
    <div class="footer-content">
        <div class="wrapper">
            <div class="footer__copy">
                &copy; 2007–2016 {{ site.title }} <br>
                <a href="http://cdrpro.github.io">cdrpro.github.io</a>
            </div>
            <div class="footer__social">
                <a href="https://github.com/cdrpro" class="social">
                    {% include github.svg %}
                </a>
                <a href="https://twitter.com/SanichKotikov" class="social">
                    {% include twitter.svg %}
                </a>
            </div>
        </div>
    </div>
</footer>
