<header class="header">
    <div class="wrapper  header__wrapper">
        {% if page.url == '/en/index.html' %}
            <h1 class="logo">{{ site.title }}</h1>
        {% else %}
            <a class="logo" href="{{ site.baseurl }}/en/">{{ site.title }}</a>
        {% endif %}
        <div id="menu" class="nav__wrapper">
            <a class="nav__overlay" href="#"></a>
            <a class="nav__show" href="#menu"></a>
            <nav class="nav">
                <!--<a class="nav__item" href="{{ site.baseurl }}/en/posts/">Posts</a>-->
                <a class="nav__item" href="{{ site.baseurl }}/en/macros/">Macros</a>
                <a class="nav__item" href="{{ site.baseurl }}/en/macros/updates/">Updates</a>
                <a class="nav__item" href="{{ site.baseurl }}/en/macros/question-answer/">Q&A</a>
                <a class="nav__item" href="{{ site.baseurl }}/en/macros/license/">License</a>
                <a class="nav__item  nav__item--lang" href="{{ site.baseurl }}/">RU</a>
            </nav>
        </div>
    </div>
</header>
