<header class="header">
    <div class="wrapper  header__wrapper">
        {% if page.url == '/en/' %}
            <h1 class="logo">{{ site.title }}</h1>
        {% else %}
            <a class="logo" href="{{ site.baseurl }}/en/">{{ site.title }}</a>
        {% endif %}
        <div id="menu" class="nav__wrapper">
            <a class="nav__overlay" href="#"></a>
            <a class="nav__show" href="#menu">
                {% include hamburger.svg %}
            </a>
            <nav class="nav">
                <a class="nav__item" {% if page.url != '/en/macros/' %}href="{{ site.baseurl }}/en/macros/"{% endif %}>Macros</a>
                <a class="nav__item" {% if page.url != '/en/macros/updates/' %}href="{{ site.baseurl }}/en/macros/updates/"{% endif %}>Updates</a>
                <a class="nav__item" {% if page.url != '/en/macros/question-answer/' %}href="{{ site.baseurl }}/en/macros/question-answer/"{% endif %}>Q&A</a>
                <a class="nav__item" {% if page.url != '/en/macros/license/' %}href="{{ site.baseurl }}/en/macros/license/"{% endif %}>License</a>
                <a class="nav__item  nav__item--lang" href="{{ site.baseurl }}/">RU</a>
            </nav>
        </div>
    </div>
</header>
