<header class="header">
    <div class="wrapper  header__wrapper">
        {% if page.url == '/' %}
            <h1 class="logo">{{ site.title }}</h1>
        {% else %}
            <a class="logo" href="{{ site.baseurl }}/">{{ site.title }}</a>
        {% endif %}
        <div id="menu" class="nav__wrapper">
            <a class="nav__overlay" href="#"></a>
            <a class="nav__show" href="#menu">
                {% include hamburger.svg %}
            </a>
            <nav class="nav">
                <a class="nav__item" {% if page.url != '/macros/' %}href="{{ site.baseurl }}/macros/"{% endif %}>Макросы</a>
                <a class="nav__item" {% if page.url != '/macros/question-answer/' %}href="{{ site.baseurl }}/macros/question-answer/"{% endif %}>Q&A</a>
                <a class="nav__item" {% if page.url != '/blog/' %}href="{{ site.baseurl }}/blog/"{% endif %}>Записи</a>
                <a class="nav__item" {% if page.url != '/links/' %}href="{{ site.baseurl }}/links/"{% endif %}>Ссылки</a>
                <a class="nav__item  nav__item--lang" href="{{ site.baseurl }}/en/">EN</a>
            </nav>
        </div>
    </div>
</header>
