---
layout: default_en
permalink: /en/macros/
---

<div class="macros">
    <!-- MACROS -->
    <h1>Macros</h1>
    <div class="macros-list">
    {% assign macros = (site.macros | where: 'layout', 'macros_en' ) %}
    {% for macro in macros %}
        <div class="macro-teaser  {% if macro.sticky == true %}macro-teaser--sticky{% endif %}">
            <h2 class="macro-teaser__title">
                <a href="{{ macro.url }}">{{ macro.title }}</a>
            </h2>
            <p class="macro-teaser__content">
                {{ macro.description | strip_html }}
            </p>
        </div>
    {% endfor %}
    </div>
    <!-- OPEN SOURCE -->
    <h2>Open Source</h2>
    <p>Free macros with source code that you can modify. <br>
        More sources are available by following link:
        <a href="https://github.com/cdrpro-macros">github.com/cdrpro-macros</a>
    </p>
    <div class="simple-table  open-source-macros">
        {% for opensource_macro in site.data.opensource_macros %}
        {% assign macro = opensource_macro[1] %}
        <div class="simple-table__row">
            <div class="simple-table__left-cell  open-source-macros__left-cell">
                <a href="{{ macro.link }}" class="open-source-macros__title">{{ macro.name }}</a>
            </div>
            <div class="simple-table__right-cell  open-source-macros__right-cell">{{ macro.description["en"] }}</div>
        </div>
        {% endfor %}
    </div>
    <!-- NOTE -->
    <p class="macros__more">
        Other macros will be added later.<br/>
        However, most of them can be downloaded from
        <a href="/macros/download/macros.zip" target="_blank">this link</a>.</p>
</div>
