---
layout: default
---

<div class="macro">
    <header class="macro__header" style="{% if page.color %}background-color: {{ page.color }};{% endif %}">
        <div class="macro__header-wrapper">
            <h1 class="macro__header-title">
                {{ page.title }}
                {% if page.version %}
                    <span>{{ page.version }}</span>
                {% endif %}
            </h1>
            <div class="macro__header-description">
                {{ page.description }}
            </div>
            <div class="macro__header-actions">
                <a class="btn"
                   target="_blank"
                   data-event="MacrosRU"
                   data-event-action="download"
                   data-event-label="{{ page.title }}"
                   href="/macros/download/{{ page.download }}">
                    Скачать
                </a>
                <a class="btn"
                   target="_blank"
                   rel="noopener noreferrer"
                   data-event="MacrosRU"
                   data-event-action="buy"
                   data-event-label="{{ page.title }}"
                   href="http://goo.gl/forms/pm0S1pt67V">
                    Купить ({{ page.price }} руб.)
                </a>
                {% if page.feedback %}
                <a class="btn feedback"
                   target="_blank"
                   title="Обратная связь"
                   href="{{ page.feedback }}">
                    ?
                </a>
                {% endif %}
            </div>
        </div>
    </header>
    <article class="macro__content">
        {{ content }}
    </article>
</div>
