---
layout: default_en
---

<div class="macro">
    <header class="macro__header" style="{% if page.color %}background-color: {{ page.color }};{% endif %}">
        <div class="macro__header-wrapper">
            <h1 class="macro__header-title">
                {{ page.title }}
                {% if page.version %}
                    <span>{{ page.version }}</span>
                {% endif %}
            </h1>
            <div class="macro__header-description">
                {{ page.description }}
            </div>
            <div class="macro__header-actions">
                <a class="btn{% if page.unavailable == true %} btn__disabled{% endif %}"
                   target="_blank"
                   data-event="MacrosEN"
                   data-event-action="download"
                   data-event-label="{{ page.title }}"
                   download
                   href="/macros/download/{{ page.download }}">
                    {% if page.unavailable == true %}
                    Unavailable
                    {% else %}
                    Download
                    {% endif %}
                </a>
                {% if page.price and page.unavailable != true %}
                <a class="btn"
                   target="_blank"
                   rel="noopener noreferrer"
                   data-event="MacrosEN"
                   data-event-action="buy"
                   data-event-label="{{ page.title }}"
                   href="https://forms.gle/5YvMn4xPTwaGHp3n6">
                    Buy (${{ page.price }})
                </a>
                {% endif %}
                {% if page.source %}
                <a class="btn"
                   target="_blank"
                   rel="noopener noreferrer"
                   data-event="MacrosEN"
                   data-event-action="source"
                   data-event-label="{{ page.title }}"
                   href="{{ page.source }}">
                    Source code
                </a>
                {% endif %}
                {% if page.feedback and page.unavailable != true %}
                <a class="btn feedback"
                   target="_blank"
                   title="Feedback"
                   href="{{ page.feedback }}">
                    ?
                </a>
                {% endif %}
            </div>
        </div>
    </header>
    <article class="macro__content">
        {{ content }}
    </article>
</div>
